/* You can add global styles to this file, and also import other style files */
html {
    background-color: rgba(0,0,0,0.1);
}

html, body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.hovered {
    background-color:rgba(138, 43, 226, 0.2)
}
